version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: fastapi-mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: fastapi_db
      MYSQL_USER: fastapi
      MYSQL_PASSWORD: fastapi_pw
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: